- var problem = "Want to hire more engineers?"
- var solution = "Engineer Overflow greatly increases the number of candidates in your hiring pipeline"

doctype html5
html(dir="ltr" lang="en-US")
  head
    <meta charset="utf-8">
    <title>More Engineers for Bootstrapped and Profitable CTOs</title>
    <meta name="author" content="David Trejo">
    <meta name="copyright" content="Copyright 2009-2016 David Trejo">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="#{problem} #{solution}">
    //- UPDATE THIS!
    - var myurl = "http://engineeroverflow.com"
    - var myimage = myurl + "/images/engineer-overflow.png"
    <link rel="canonical" href="#{myurl}">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">

    <!-- for Facebook -->
    meta(property="og:type" content="article")
    meta(property="og:title" content="#{problem}")
    meta(property="og:description" content="#{solution}")
    //- This is an image associated with your media. We suggest that you use an image of at least 1200x630 pixels.
    meta(property="og:image" content="#{myimage}")
    meta(property="og:url" content="#{myurl}")

    <!-- for Twitter -->
    //- via https://dev.twitter.com/cards/types/summary-large-image
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@ddtrejo")
    meta(name="twitter:creator" content="@ddtrejo")
    meta(name="twitter:title" content="#{problem}")
    meta(name="twitter:description" content="#{solution}")
    //- Images for this Card should be at least 280px in width, and at least 150px in height.
    meta(name="twitter:image" content="#{myimage}")

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <link href="stylesheets/dtrejo.css" rel="stylesheet" type="text/css">
    //- script.
    //-   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    //-   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    //-   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    //-   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    //-   ga('create', 'UA-11131137-1', 'auto');
    //-   ga('send', 'pageview');

  body.homepage(itemscope="itemscope" itemtype="http://schema.org/WebPage")
    header
      h1: a(href="#{myurl}"): | #{problem}
      h2 #{solution}

    h2 Dear bootstrapped &amp; profitable CTO,
    p
      | You want more applicants. You need to hire software engineers so you can start new projects and staff existing ones. Lately you&rsquo;ve become disheartened with recruiting and have spent very little time on it. You feel that the way you present yourself makes it a hopeless waste of time to search for the kinds of engineers you&rsquo;d want to hire. Your network feels tapped out. You&rsquo;ve opted out of the Silicon Valley hype cycle, which makes it harder for engineers to hear about you.

    h2 There&rsquo;s hope
    p
      | A healthy flowing pipeline of relevant, high-quality, and diverse engineering candidates will solve your hiring problems. Large parts of your network that you have not considered remain untapped. You will attract high quality candidates with job descriptions that show you as bootstrapped and profitable.

    p
      | You are much more attractive to high quality candidates than you realize. You are a practical engineer&rsquo;s dream: your software concretely relieves pain, saves time, and saves money for your customers and co-workers. Your hiring pipeline problems will be gone, and you&rsquo;ll be able to pick from an enthusiastic and diverse crowd of engineers, clamoring to work with you. You&rsquo;ll have the long-term foundation you need to grow your team, and hear excitement in candidate&rsquo;s voices even before you&rsquo;ve pitched them on working with you.
    h2 Who are we looking for?
    p
      | We&rsquo;re not looking for new graduates, and we aren&rsquo;t hiring interns. We&rsquo;re looking for junior or mid-level engineers who already have at least one engineering job under their belt. You have a solid idea of the salary range you&rsquo;re willing to offer, and you&rsquo;re willing to compensate competitively.
    h2 How will we gauge success in our work together?
    p We&apos;ll know if our efforts are working if...
    ul
      li Engineers (and designers) reply to us
      li We get into conversations with candidates about interviews
      li We get interviews scheduled with candidates
      li Rejected candidates refer their friends
      li Candidates are given offers
      li Candidates get hired
      li Candidates and current team agree to refer others
    h2 Methodology and Options
    h2 Option A: Lead Generation
    p
      | We will pursue a mix of outreach strategies that we feel will be the most effective at bringing in candidates who meet your hiring guidelines. We&rsquo;ll discuss and decide on a plan of action when the engagement starts. We will work from my list of eleven channels for hiring engineers, which are neglected by most companies and recruiters. These channels will help you reach thousands or tens of thousands of engineers, depending on the size of your team.

    p
      | In all this work, we will use language that is inclusive, empathetic, and does not drive away candidates from non-traditional engineering backgrounds.
    p
      em
        | Guarantee: If we are unable to make a hire I will return your investment for that hire in full. Unlimited replacements for hires who leave or are terminated before they&rsquo;ve worked three months.
    h2 Option B: Lead Generation &amp; Job Descriptions
    p
      em
        | Includes option A.

    p
      | I will write job descriptions for each position. We will expose key parts of your engineering practices and company culture that attract the right kinds of candidates, especially diverse candidates. I will perform ongoing adjustments and course corrections to the messaging based on what we learn from our lead generation work and candidate feedback.
    p
      | We&rsquo;ll vastly increase your top-of-funnel by lightly changing your hiring process, opening the floodgates to engineers who have strong experience and open source projects. This will also open the doors to overlooked engineers who are perfectly good at engineering, but don&rsquo;t present themselves well.
    p
      | We will revive those in your network who&rsquo;ve stopped giving referrals. Ivan Kirigin of YesGraph notes &ldquo;The common guess is [friends and employees stop referring] because they run out of contacts. Nope, consistent feedback has been that an employee has a bad experience and doesn&rsquo;t want to do it again. It can be literally as simple as telling the employee who made the referral the current status of the candidate. All you need is more transparency, even if the candidate is rejected.&rdquo;

    p
      em
        | Guarantee: If we are unable to make a hire I will return your investment for that hire in full. Unlimited replacements for hires who leave or are terminated before they&rsquo;ve worked three months.
    h2 Option C: Lead Generation, Job Descriptions, and Create a Fan Base
    p
      i Includes option A and B.
    p
      | I will create a report on how to fix your various hiring sites and combine them, so a candidate can learn everything they need to know about your company in one place.

    p
      | We will do head-shots similar to <a href="http://neo-summon.herokuapp.com">Neo's Summon</a>, in a way that makes sense for your company, and create a profile on each of your current team-members. When candidates concretely know who they want to learn from, they&rsquo;ll be drawn to you for what their career could become with the help of their co-workers. They&rsquo;ll do their work as described, and grow within the company. You&rsquo;ll avoid the problem that most high growth companies have with their culture: when you add people rapidly, learning does not transfer quickly enough and your company begins to operate in less than ideal ways. Your culture will mature with greater health due to increased knowledge transfer.
    p
      | We will schedule you to speak on your industry&rsquo;s podcasts, discussing the interesting technical and business aspects of your company. Engineers who listen to these podcasts will consider you a player in the space, and investigate working with you. We will set up a landing page and educational drip email campaign for these listeners to read more about engineering at your company. They will gradually learn more about your engineering and culture, stoking their desire to work with you. I will record conversations with you on the most interesting parts of your business, transcribe them, and make three installments that every new subscriber receives over the course of three weeks. Each installment will note that you are hiring, and the fourth installment will be dedicated to information on working with you. All emails will appear to be sent from you, the CTO, making it effortless for interested candidates to start conversations.

    h2 Why hire now?
    p
      | We want to hire ASAP. You have unallocated budget for multiple hires that is burning a large hole in your pocket.

    h2 Why get more candidates in your hiring pipeline?
    p
      | Outreach will extricate you from your current situation: too few applicants. Waiting for applicants is not enough to find the type of engineer you&rsquo;re looking for, at the speed you need to hire.
    h2 About David Trejo
    p
      | Brown Computer Science and two years in the software engineering industry taught me what to look for in a job, and what other engineers are looking for in their work. Since working in software, I&rsquo;ve learned to conduct sales and marketing for my consulting services in a way that is <strong>pleasant</strong> and is <strong>not</strong> sales-y nor filled with marketing language that drives people away. Outreach for my other clients and myself frequently elicits replies saying &ldquo;thank you for the email&rdquo; or &ldquo;thank you for the follow-up.&rdquo; These same strategies will work well with engineers. We will not trip their spidey sense with spammy emails. I have experience emailing large numbers of people in a personal way. My experience in my other consulting work has taught me how to ask questions of customers and figure out why they bought from my clients. We will apply the same principles to discover why your current team decided to work with you. The reasons your team loves your company will make our job ads and descriptions persuasive on a level that few companies achieve.

    h2 Terms and Conditions
    p
      | With a few open positions for engineers, you have <em>conservatively</em> $300,000 to $1,050,000 annually waiting to be invested back into your company. Every day without them delays new projects whose ROI must be over $900,000 annually (otherwise you wouldn&rsquo;t want to hire anyone). Let&rsquo;s get ourselves some new hires and give you the growth you deserve.
    p
      | I never assess an hourly or daily fee, since you should not have to make an investment decision every time my assistance may be needed. This is a unique feature of my consulting practice. You are free to hire other recruiters and services while we work together&mdash;my services are not exclusive.
    p
      | Please get in touch for pricing information. I offer fixed prices, not estimates. You will not pay a dime more than your selected price. A deposit for the first hire must be paid in full on acceptance to schedule the project. Upon making a hire, fee to make the next hire is due, if desired.

    p.
      My guarantee: <em>If we are unable to make a hire, I will return your investment for that hire in full. Unlimited replacements for hires who leave or are terminated before they&rsquo;ve worked three months.</em>

    p
      | Apply for a 15 minute conversation to discuss whether this service is a good fit for you. If we don&rsquo;t see a good return on investment, we won&rsquo;t work together. Send me an email: <a class="email" title="david 책t dtrejo.com" href="#">david 책t dtrejo.com</a>.

    footer
      p
        | Yours,<br>
        | <em>David Trejo</em><br>
        | <a class="email" title="david 책t dtrejo.com" href="#">david 책t dtrejo.com</a><br>
        | Brown University Computer Science Grad<br>
        | Past engineering experience includes Cloudera, Voxer, and Neo<br>
        | Based in San Francisco
      img.testimonial(src="/images/david-trejo.jpeg" alt="David Trejo"
          height="150")

      p(style="font-size: 1rem").
        * <a href="http://blog.yesgraph.com/searchlight-meetings/">Searchlight meetings</a>

      span.fin
        | fin

  script(type="text/javascript").
    var _dcq = _dcq || [];
    var _dcs = _dcs || {};
    _dcs.account = '7413888';
    (function() {
      var dc = document.createElement('script');
      dc.type = 'text/javascript'; dc.async = true;
      dc.src = '//tag.getdrip.com/7413888.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(dc, s);
    })();

  //- TODO upgrade this
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  //- <script src="javascripts/jquery.smooth-scroll.min.js"></script>
  script.
    $(document).ready(function() {
      //- $('header a').smoothScroll()
      // Show email to humans.
      var me = 'david'
      var atDomain = '@dtrejo.com'
      $('a.email').click(function() {
        $(this).attr('href', 'mailto:' + me + atDomain).text(me + atDomain)
      })
    })
